VITE_FIREBASE_API_KEY="AIzaSyCDk8kiDDdQJwggqaymUIG0vdxz40XFR5s"
VITE_FIREBASE_AUTH_DOMAIN="link-app-965dd.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="link-app-965dd"
VITE_FIREBASE_STORAGE_BUCKET="link-app-965dd.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="87561510798"
VITE_FIREBASE_APP_ID="1:87561510798:web:1726be658265d05bb7cedf"
VITE_FIREBASE_MEASUREMENT_ID="G-WHDP1JTHL8"
VITE_FIREBASE_VAPID_KEY=""
VITE_SENTRY_DSN=""
